@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("/images/Background.png") no-repeat top fixed;
  background-size: cover;
}

.gradient_bg {
  backdrop-filter: blur(120px);
  background: linear-gradient(
    111.84deg,
    rgba(6, 11, 38, 0.94) 59.3%,
    rgba(26, 31, 55, 0) 100%
  );
}

.referral_bg {
  background: linear-gradient(
    126.97deg,
    rgba(6, 11, 40, 0.74) 28.26%,
    rgba(14, 21, 58, 0.71) 91.2%
  );
  backdrop-filter: blur(120px);
}
.referral_child_bg {
  backdrop-filter: blur(120px);
  background: linear-gradient(
    126.97deg,
    #060c29 28.26%,
    rgba(4, 12, 48, 0.5) 91.2%
  );
}

.logo {
  background: linear-gradient(
    97.89deg,
    #ffffff 70.67%,
    rgba(117, 122, 140, 0) 108.55%
  );
}

.border-line {
  border: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(224, 225, 226, 0) 0%,
    #e0e1e2 49.52%,
    rgba(224, 225, 226, 0.15625) 99.04%
  );
}

.gradient-logo {
  background-image: linear-gradient(
    97.89deg,
    #ffffff 70.67%,
    rgba(117, 122, 140, 0) 108.55%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
